/* Importing Work Sans font */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* Resetting Properties */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  font-family: "Work Sans", sans-serif;
}
/* Shared Properties */
.title {
  color: #0b0223;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.btn-primary-pink {
  padding: 1.3125rem 2.5rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3rem;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  border: none;
  outline: none;
}

.text-primary {
  color: #534c64;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}
/* Header Section */

/* Navigation section */
.nav-container {
  width: 100%;
  height: 130px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 200px;
}

.nav-menu > ul {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-menu > ul > li {
  list-style-type: none;
}

.nav-menu > ul > li > a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.nav-logo,
.footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-logo,
.footer-logo > div {
  text-align: center;
  font-size: 2.8125rem;
  font-weight: 700;
}

.nav-logo,
.footer-logo > div > span {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.special {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 10px 15px;
}

.youtube {
  margin-right: 10px;
  color: #f61c0d;
}

/* Banner section */

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.25rem;
  padding: 0 150px 0 0;
}

.banner-content {
  background-image: url("./images/Group\ 14.png");
  fill: linear-gradient(
    223deg,
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );
  padding: 15rem;
}

.banner-special-title {
  text-align: center;
  font-size: 5.9375rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-btn {
  border-radius: 3rem;
  background: #4ec5f7;
  padding: 1.3125rem 2.5rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  outline: none;
}

.banner-content > ul > li {
  margin-top: 1.06rem;
  list-style-type: none;
}

.banner-btn {
  margin-top: 2.56rem;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}

.banner-content > ul > li > i {
  margin-right: 10px;
}

/* Main section starts here */
/* Gamer section */
.gamer-contaienr {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px;
}
.gamer-content {
  text-align: right;
}
.gamer-title {
  text-align: right;
  font-size: 3rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.5rem;
}
.gamer-des {
  margin-bottom: 2rem;
}

.purpose {
  margin-top: 1.5rem;
}
.unleash {
  color: #534c64;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8125rem;
}
/* Video section */
.video {
  width: 100%;
  padding: 100px;
}

.video > p {
  margin-top: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.video-title {
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.video-title-special {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.image-contianer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.play-container{
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: opacity 0.3s ease;
  border-radius: 1rem;
}

.play-button {
  color: white;
  font-size: 20px; /* Adjust the icon size */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.play-button i {
  font-size: 30px;
  margin-bottom: 10px; /* Space between icon and text */
}

.play-container:hover .overlay {
  opacity: 1;
}

.play-container:hover .play-button {
  opacity: 1;
}

/* Video section ends here */

/* Player section starts */
.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-content {
  text-align: right;
}

.player-image {
  display: flex;
  justify-content: center;
}

.player-inner {
  width: 60%;
  margin: 0 auto;
}
.player-title {
  text-align: right;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.75rem;
}
.player-special {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.second-image {
  position: relative;
  transform: translate(-100px, -250px);
  width: 19.90625rem;
  height: 22.81769rem;
  flex-shrink: 0;
}

/* Button section */
.button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 9rem;
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn-container > p {
  color: #0b0223;
  font-size: 1.25rem;
  font-weight: 600;
}

.Arcade {
  color: #ca4595;
  border: 3px solid #f948b2;
  border-radius: 3.25rem;
  padding: 5px;
}
.Arcade p {
  color: #f948b2;
}

.btn-container:hover {
  border-radius: 3.25rem;
  border: 2px solid #ff42a5;
  padding: 5px;
}

/* Footer section */
footer {
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #0b0223;
}
.footer-logo-contianer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.12rem;
  color: white;
}
.footer-items {
  margin-bottom: 3rem;
  color: white;
  font-weight: 600;
}
.footer-items > ul {
  display: flex;
  gap: 3.75rem;
}

.footer-items > ul > li {
  list-style-type: none;
}

.footer-icon {
  margin-bottom: 3rem;
  color: white;
}
.footer-icon > i {
  margin-left: 20px;
  font-size: 1.5rem;
}

.privacy-policy {
  margin-bottom: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
}
.privacy-policy > ul {
  display: flex;
  gap: 3.75rem;
}

.privacy-policy ul li {
  list-style-type: none;
}

.copyright {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
}

/* Media query to make the website responsive */

@media screen and (max-width: 576px) {
  /* Navigation section */
  @media screen and (max-width: 576px) {
    /* Navigation section */
    .nav-container,
    .gamer-contaienr {
      flex-direction: column;
      height: auto;
    }

    .nav-menu > ul {
      flex-direction: column;
      width: 100%;
    }

    .nav-menu > ul > li {
      margin-bottom: 10px;
    }

    .nav-logo {
      margin-bottom: 20px;
    }

    .nav-logo > div {
      font-size: 2rem;
    }

    .special {
      width: 16.375rem;
      text-align: center;
      padding: 1.25rem;
    }

    /* Banner section */
    .banner-container {
      flex-direction: column-reverse;
    }

    .banner-container,
    .banner-content {
      padding: 0 20px;
    }

    .banner-special-title {
      font-size: 3.75rem;
    }
    .banner-btn {
      justify-content: center;
    }
    .btn {
      padding: 1rem;
    }
  }
  /* Video section */

  .image-contianer {
    flex-direction: column;
    align-items: center;
  }
  .video-title,
  .video-title-special {
    font-size: 2rem;
  }

  .video > p {
    font-size: 1rem;
  }

  /* Gamer section */
  .gamer-contaienr {
    flex-direction: column;
    height: auto;
    padding: 40px 20px;
  }

  .gamer-content {
    text-align: center;
    margin-top: 30px;
  }

  .gamer-title {
    text-align: center;
  }

  .unleash {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
  .gamer-contaienr img {
    width: 100%;
    height: auto;
  }

  /* Button section */
  .button {
    padding: 10px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 10px;
  }
  .btn-container > p {
    font-size: 15px;
  }
  .btn-container {
    gap: 2px;
  }
  .btn-container:hover {
    padding: 2px;
  }
  .button img {
    width: 35px;
  }
  /* Player section */
  .player {
    flex-direction: column;
  }
  .player-title {
    font-size: 2rem;
    text-align: center;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }
  .player-content {
    text-align: center;
  }
  .player-inner {
    text-align: center;
  }
  .inner-image-box img {
    width: 100%;
  }

  /* Footer section */
  footer {
    width: 100%;
  }
  .footer-items > ul {
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .privacy-policy > ul {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
}
